<?php
/**
 * CrunchySignup Configuration File
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
$settings = array(

    /**
     * Storage adapter to use
     *
     * Options: ZendDb only :P
     * Default: ZendDb
     */
    'storage_adapter' => 'ZendDb',

    /**
     * Email Address - 'From' 
     *
     * Default: empty
     */
    'email_from_address' => 'mail@example.com',

    /**
     * Subject of verification email
     *
     * Default: 'Email Address Verification'
     */
    //'verification_email_subject_line' => 'Email Address Verification',

    /**
     * Content of flash message, which is shown after token verification and 
     * user activation
     * Default: 'You are fully-registered, you can login now.'
     */
//    'flash_message_after_verification' => 'You are fully-registered, you can login now.'
);


/**
 * You do not need to edit below this line
 */
return array(
    'crunchysignup' => $settings,
    'service_manager' => array(
        'aliases' => array(
            'crunchysignup_ev_modelmapper' => 'crunchysignup_ev_modelmapper' . $settings['storage_adapter']
        ),
    ),
);
